<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>530681436681-ng8ki2tlud8vsre7sfkhoamir56hd1la.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530681436681-ng8ki2tlud8vsre7sfkhoamir56hd1la</string>
	<key>API_KEY</key>
	<string>AIzaSyAus-hq9WXrR1yG4UY1x1wi5vH0K3zAj1w</string>
	<key>GCM_SENDER_ID</key>
	<string>530681436681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TPOYP.RenovatioS</string>
	<key>PROJECT_ID</key>
	<string>renovatio-sutra</string>
	<key>STORAGE_BUCKET</key>
	<string>renovatio-sutra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:530681436681:ios:003dc9a3c10d88fa</string>
	<key>DATABASE_URL</key>
	<string>https://renovatio-sutra.firebaseio.com</string>
</dict>
</plist>